<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="fragments/template :: head">

</head>

<body class="no-skin">
<div data-th-replace="fragments/template :: navbar"></div>

<div class="main-container" id="main-container">
    <div data-th-replace="fragments/template :: sidebar"></div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#" data-th-href="@{/home}" th:text="#{menu.home}"></a>
                    </li>
                    <li class="active" >
                        <a data-th-href="@{/profile/view(id=${currentUser.id})}" th:text="#{user.profile}"></a>
                    </li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1 class="lighter blue">
                        <small>
                            <span data-th-text="#{user.change_password}"></span>
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-sm-6">
                            <form class="form-horizontal" action="#" data-th-action="@{/profile/passwordchange}"
                                  data-th-object="${passwordChangeDTO}" method="post">
                                <div class="form-group alert alert-danger alert-dismissable" th:if="${#fields.hasErrors('*')}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                                </div>
                                <div class="alert alert-danger alert-dismissable" th:if="${error != null}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <p data-th-text="${error}">Error!</p>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-5 control-label" data-th-text="#{user.old_password}"></label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="ace-icon fa fa-key"></i>
                                            </span>
                                            <input type="text" class="form-control" data-th-value="*{oldPassword}" data-th-field="*{oldPassword}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-5 control-label" data-th-text="#{user.new_password}"></label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="ace-icon fa fa-key"></i>
                                            </span>
                                            <input type="text" class="form-control" data-th-value="*{newPassword}" data-th-field="*{newPassword}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-5 control-label" data-th-text="#{user.retype_password}"></label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="ace-icon fa fa-key"></i>
                                            </span>
                                            <input type="text" class="form-control" data-th-value="*{rePassword}" data-th-field="*{rePassword}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <div class="col-sm-offset-5 col-sm-7">
                                        <a href="#" class="btn btn-xs btn-default" data-th-href="@{/profile/view(id=${currentUser.id})}" th:text="#{button.back}"></a>
                                        &#160;
                                        <button type="submit" class="btn btn-xs btn-success" data-th-text="#{button.save}">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>  <!-- /.col-lg-12 -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->
    </div>

    <script type="text/javascript">

    </script>

    <div data-th-replace="fragments/template :: footer"></div>

</div><!-- /.main-container -->
</body>


</html>

