<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>

<body>
<div th:fragment="reminderFormDiv">
    <form id="manageForm" class="form-horizontal" action="#" data-th-action="@{/reminder/save}" data-th-object="${reminder}"
          method="post">
        <input type="text" hidden="hidden" data-th-value="*{id}" data-th-field="*{id}" />
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title" th:text="${reminder.id == 0} ? #{reminder.add} : #{reminder.edit}">
                </h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <div class="radio radio-info radio-inline">
                            <input id="expense" type="radio" class="" name="transactionType" th:value="${T(am.jsl.personalfinances.domain.transaction.TransactionType).EXPENSE.value}"
                                   th:field="*{transactionType}">
                            <span class="label label-pink arrowed-in arrowed-right" th:text="#{transaction.type.expense}" onclick="checkTransactionType('expense')">
                            </span>
                        </div>
                        <div class="radio radio-info radio-inline">
                            <input id="income" type="radio" class="" name="transactionType" th:value="${T(am.jsl.personalfinances.domain.transaction.TransactionType).INCOME.value}"
                                   th:field="*{transactionType}">
                            <span class="label label-success arrowed-in-right arrowed" th:text="#{transaction.type.income}" onclick="checkTransactionType('income')">
                            </span>
                        </div>
                        <div class="radio radio-info radio-inline">
                            <input id="transfer" type="radio" class="" name="transactionType" th:value="${T(am.jsl.personalfinances.domain.transaction.TransactionType).TRANSFER.value}"
                                   th:field="*{transactionType}">
                            <span class="label arrowed arrowed-right" th:text="#{transaction.type.transfer}" onclick="checkTransactionType('transfer')">
                            </span>
                        </div>
                    </div>
                </div>
                <h5 class="header smaller lighter blue"></h5>
                <div class="form-group">
                    <label class="col-sm-4 control-label" th:text="#{reminder.status}">
                    </label>
                    <div class="col-sm-4">
                        <select id="status" name="status" class="form-control input-sm"
                                th:field="*{status}" th:value="${status}">
                            <option th:value="${T(am.jsl.personalfinances.domain.reminder.ReminderStatus).ACTIVE.value}"
                                    th:text="#{reminder.status.active}"></option>
                            <option th:value="${T(am.jsl.personalfinances.domain.reminder.ReminderStatus).DONE.value}"
                                    th:text="#{reminder.status.done}"></option>
                            <option th:value="${T(am.jsl.personalfinances.domain.reminder.ReminderStatus).DISABLED.value}"
                                    th:text="#{reminder.status.disabled}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" th:text="#{reminder.repeat}">
                    </label>
                    <div class="col-sm-3">
                        <select id="repeat" name="repeat" class="form-control input-sm"
                                th:field="*{repeat}" th:value="${repeat}">
                            <option th:value="${T(am.jsl.personalfinances.domain.reminder.ReminderRepeat).NONE.value}"
                                    th:text="#{reminder.repeat.none}"></option>
                            <option th:value="${T(am.jsl.personalfinances.domain.reminder.ReminderRepeat).DAILY.value}"
                                    th:text="#{reminder.repeat.daily}"></option>
                            <option th:value="${T(am.jsl.personalfinances.domain.reminder.ReminderRepeat).MONTHLY.value}"
                                    th:text="#{reminder.repeat.monthly}"></option>
                            <option th:value="${T(am.jsl.personalfinances.domain.reminder.ReminderRepeat).YEARLY.value}"
                                    th:text="#{reminder.repeat.yearly}"></option>
                        </select>
                    </div>
                    <label class="col-sm-3 control-label" th:text="#{reminder.auto.charge}">
                    </label>
                    <div class="col-sm-2">
                        <input type="checkbox" name="autoCharge"
                               th:value="${autoCharge}" th:field="*{autoCharge}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" data-th-text="#{reminder.due.date}"></label>
                    <div class="col-sm-8">
                        <input id="dueDate" type="text" class="date-time-picker"
                               data-th-value="*{dueDate}"
                               data-th-field="*{dueDate}"/>
                    </div>
                </div>
                <h5 class="header smaller lighter blue"></h5>
                <div class="form-group">
                    <label class="col-sm-4 control-label" th:text="#{transaction.account}">
                    </label>
                    <div class="col-sm-8">
                        <div class="radio radio-info radio-inline" th:each="account : ${accounts}">
                            <input th:id="'account' + ${account.id}" type="radio" class="account" name="accountId"
                                   th:attr="currency=${account.currency}" th:value="${account.id}" th:data="${account.symbol}"
                                   th:field="*{accountId}">
                            <span th:style="'background-color:' + ${account.color}" class="label"
                                  th:onclick="'javascript:accountChanged(\'account' + ${account.id} + '\')'">
                                <span style="font-family: 'FontAwesome';" th:utext="${account.icon}"></span>
                                <span th:text="' ' + ${account.name} + ' ' + ${account.symbol}"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" th:text="#{transaction.category}">
                    </label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <select id="category" th:field="*{categoryId}" th:value="${categoryId}"
                                    style="font-family: 'FontAwesome';">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-sm-4 control-label" data-th-text="#{common.amount}"></label>
                    <div class="col-sm-8">
                        <input id="amount" type="text" class="numeric" data-th-value="${amount}" data-th-field="*{amount}"/>
                        <span id="currency"></span>
                    </div>
                </div>

                <div id="transferDiv" th:style="${!reminder.transfer ? 'display: none;' : ''}">
                    <h5 class="header smaller lighter blue"></h5>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" th:text="#{transaction.target_account}">
                        </label>
                        <div class="col-sm-8">
                            <div class="radio radio-info radio-inline" th:each="account : ${accounts}">
                                <input th:id="'targetAccount' + ${account.id}" type="radio" class="account" name="targetAccountId"
                                       th:attr="currency=${account.currency}" th:value="${account.id}" th:data="${account.symbol}"
                                       th:field="*{targetAccountId}">
                                <span th:style="'background-color:' + ${account.color}" class="label"
                                      th:onclick="'javascript:targetAccountChanged(\'targetAccount' + ${account.id} + '\')'">
                                <span style="font-family: 'FontAwesome';" th:utext="${account.icon}"></span>
                                <span th:text="' ' + ${account.name} + ' ' + ${account.symbol}"></span>
                            </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" data-th-text="#{common.currency.rate}"></label>
                        <div class="col-sm-8">
                            <input id="exchangeRate" type="text" class="exchangeRate" data-th-value="${exchangeRate}" data-th-field="*{exchangeRate}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" data-th-text="#{transaction.converted_amount}"></label>
                        <div class="col-sm-8">
                            <input type="text" class="numeric" data-th-value="${convertedAmount}" data-th-field="*{convertedAmount}"/>
                            <span id="convertedCurrency"></span>
                        </div>
                    </div>
                </div>

                <div class="accordion-style1 panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse"
                                   class="accordion-toggle collapsed" aria-expanded="false"
                                    th:onclick="'loadContacts(' + ${reminder.contactId} + ');'">
                                    <i data-icon-show="ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down"
                                       class="bigger-110 ace-icon fa fa-angle-right"></i>
                                    &nbsp;<span th:text="#{common.advanced}"></span>
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" th:text="#{transaction.contact}">
                                    </label>
                                    <div class="col-sm-8">
                                        <select id="contact" th:field="*{contactId}" th:value="${contactId}">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" data-th-text="#{transaction.description}"></label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" id="description"  data-th-value="*{description}"
                                                  data-th-field="*{description}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-style1 panel-group" id="trAccordion"
                     th:if="${reminder.id != 0}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a href="#trCollapseOne" data-parent="#trAccordion" data-toggle="collapse"
                                   class="accordion-toggle collapsed" aria-expanded="false"
                                   th:onclick="'loadReminderTransactions(' + ${reminder.id} + ');'">
                                    <i data-icon-show="ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down"
                                       class="bigger-110 ace-icon fa fa-angle-right"></i>
                                    &nbsp;<span th:text="#{transaction.transactions}"></span>
                                </a>
                            </h5>
                        </div>

                        <div id="trCollapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div id="transactionsDiv" class="panel-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-default" data-dismiss="modal" th:text="#{button.cancel}"></button>
                &#160;
                <button type="button" class="btn btn-xs btn-success" data-th-text="#{button.save}" onclick="saveReminder();">save</button>
            </div>
        </div>
    </form>

    <form id="convertForm" method="post" action="#" data-th-action="@{/currency/convert}">
        <input type="text" hidden="hidden" id="convertAmount" name="amount"/>
        <input type="text" hidden="hidden" id="convertRate" name="rate"/>
        <input type="text" hidden="hidden" id="from" name="from"/>
        <input type="text" hidden="hidden" id="to" name="to"/>
    </form>

    <form id="transactionsForm" method="post" action="#" data-th-action="@{/transactions}">
        <input id="reminderId" type="hidden" name="reminderId"/>
    </form>

    <link type="text/css" rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css"
          data-th-href="@{/css/bootstrap-datetimepicker.min.css}"/>

    <script src="/js/jquery.number.min.js" data-th-src="@{/js/jquery.number.min.js}"></script>
    <script src="/js/moment.min.js" data-th-src="@{/js/moment.min.js}"></script>

    <script src="/js/bootstrap-datetimepicker.min.js" data-th-src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script src="/js/common.js" data-th-src="@{/js/common.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var categoryId = [[${reminder.categoryId}]];
        /*]]>*/
    </script>

    <script type="text/javascript">
        var $manageForm = $('#manageForm');
        var $convertForm = $('#convertForm');
        var isTransfer = $manageForm.find('#transfer').attr("checked");

        $(document).ready(function(e) {
            setCurrency($manageForm.find('.account:checked'));

            $manageForm.find(".numeric").number(true, 2);
            $manageForm.find(".exchangeRate").number(true, 4);

            $manageForm.find("#amount").change(function() {
                amountChanged();
            });

            $manageForm.find("#exchangeRate").change(function() {
                if (isTransfer) {
                    convertWithRate();
                }
            });

            if(!ace.vars['old_ie']) $('.date-time-picker').datetimepicker({
                format: 'DD/MM/YYYY HH:mm',
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-arrows ',
                    clear: 'fa fa-trash',
                    close: 'fa fa-times'
                }
            }).next().on(ace.click_event, function(){
                $(this).prev().focus();
            });

            // categories
            var $category = $manageForm.find('#category');
            $category.html($searchForm.find("#category").html());
            $category.find("option").eq(0).remove();

            if (categoryId != 0) {
                $category.find('option[value=' + categoryId + ']').attr('selected', 'selected');
            }
        });

        var transactionsLoaded = false;
        function loadReminderTransactions(id) {
            if (!transactionsLoaded) {
                $('#transactionsForm').find('#reminderId').val(id);
                $('#transactionsDiv').html('<tr><td align="center" colspan="4"><div class="cp-spinner cp-skeleton"></div></td></tr>');

                $.ajax({
                    type : "POST",
                    url : "../reminder/transactions",
                    data: $('#transactionsForm').serialize(),
                    success : function(data) {
                        $('#transactionsDiv').html(data);
                    }
                });
                transactionsLoaded = true;
            }
        }

        function checkTransactionType(elementId) {
            var $element = $manageForm.find("#" + elementId);
            $($element).prop("checked", true);

            if (elementId == 'transfer') {
                $manageForm.find('#transferDiv').show();
                isTransfer = true;
                $manageForm.find("input:radio[name=targetAccountId]:first").attr('checked', true);
                $manageForm.find("#exchangeRate").val('1');
                $manageForm.find("#convertedAmount").val($manageForm.find("#amount").val());
                $manageForm.find("#convertedCurrency").text($manageForm.find("#currency").text());
            } else {
                $manageForm.find('#transferDiv').hide();
                isTransfer = false;
            }
        }

        function accountChanged(elementId) {
            var $element = $manageForm.find("#" + elementId);
            $($element).prop("checked", true);
            setCurrency($element);

            if (isTransfer) {
                convert();
            }
        }

        function targetAccountChanged(elementId) {
            var $element = $manageForm.find("#" + elementId);
            $($element).prop("checked", true);

            var currencySymbol = $element.attr('data');
            if (currencySymbol) {
                $manageForm.find('#convertedCurrency').text(currencySymbol);
            }

            if (isTransfer) {
                convert();
            }
        }

        function setCurrency(radio) {
            var currencySymbol = $(radio).attr('data');
            if (currencySymbol) {
                $manageForm.find('#currency').text(currencySymbol);
            }
        }

        // contacts
        var contcatsLoaded = false;
        function loadContacts(contactId) {
            if (!contcatsLoaded) {
                var $contact = $manageForm.find('#contact');
                $contact.html($searchForm.find("#contact").html());
                if (contactId != 0) {
                    $contact.find('option[value=' + contactId + ']').attr('selected', 'selected');
                }
                contcatsLoaded = true;
            }
        }

        function saveReminder() {
            var amount = $manageForm.find('#amount').val();

            if (!amount || amount <= 0) {
                return;
            }

            $.ajax({
                type: "POST",
                url: "save",
                data: $manageForm.serialize(),
                success: function(data) {
                    $('#remDialog').modal('hide');
                    loadReminders(1);
                    loadReminderAlerts();
                }
            });
        }

        function amountChanged() {
            if (isTransfer) {
                convert();
            }
        }

        function convert() {
            var amount = $manageForm.find('#amount').val();

            if (!amount || amount <= 0) {
                return;
            }
            $convertForm.find('#convertAmount').val(amount);
            $convertForm.find('#from').val($manageForm.find('input[name="accountId"]:checked').attr('currency'));
            $convertForm.find('#to').val($manageForm.find('input[name="targetAccountId"]:checked').attr('currency'));

            $.ajax({
                type : "POST",
                url : "../currency/convert",
                data: $convertForm.serialize(),
                success : function(response) {
                    $manageForm.find("#exchangeRate").val(response.result.key);
                    $manageForm.find("#convertedAmount").val(response.result.value);
                }
            });
        }

        function convertWithRate() {
            $convertForm.find('#convertAmount').val($manageForm.find('#amount').val());
            $convertForm.find('#convertRate').val($manageForm.find('#exchangeRate').val());

            $.ajax({
                type : "POST",
                url : "../currency/convertWithRate",
                data: $convertForm.serialize(),
                success : function(response) {
                    $manageForm.find("#convertedAmount").val(response.result);
                }
            });
        }
    </script>
</div>
</body>
</html>


